.page-layout {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

.page-content {
  width: 60%;
  margin: 0;
  padding: 1rem 2rem;
}

@media only screen and (max-width: 1280px) {
  .page-content {
    width: 80%;
  }
}

@media only screen and (max-width: 1024px) {
  .page-content {
    width: 100%;
  }
}

.no-space {
  padding: 0;
  margin: 0;
}

.mb-sm {
  margin-bottom: 0.5rem;
}

.flex-row-space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
  row-gap: 0.5rem;
}

.align-center {
  align-items: center;
}

.gap-sm {
  gap: 0.5rem;
}

#pseudo-top-item {
  display: none;
}

@media (max-width: 800px) {
  .page-content {
    padding: 0.5rem;
  }

  #pseudo-top-item {
    display: block;
  }

  .flex-wrap-third > :nth-child(3) {
    flex-basis: 100%;
  }
}

th,
td {
  padding-inline: 0.5rem !important;
}
